* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    font-family: 'Keania One', sans-serif;
    color: rgb(223, 186, 0);
    /* padding: 10px 0px; */
    /* border-radius:8px; */
    /* height: 100vh; */
    padding: 10px;
    margin: 0;
    top: 0;
    flex: 0 50px;
    position: fixed;
    width:100%;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    border-color: #060606;
}
body{
    background-image: linear-gradient(to top, #ff0000, #740000);
    height: 100vh;
    margin: 0;
    padding-top: 80px;
}
menu{
    font-size: larger;
}
/* nav h2{
    font-size: xx-large;
}
nav menu{
    display: flex;
    justify-content: left;
    list-style-type: none;
}
nav li{
    margin:0 15px;
    font-size: x-large;
}
nav a {
    color: rgb(223, 186, 0);
    text-decoration: none;
    font-size: 16px; 
}
nav a:hover {
    color:#740000
}
nav a img{
    width:40px;
    height:30px;
    margin-right:2px;
} */

.nav-link {
    color: rgb(223, 186, 0)
}
.nav-link:hover {
    color: rgb(139, 116, 0);
}
.btn-outline-primary {
    color: rgb(223, 186, 0);
    border-color: rgb(223, 186, 0);
}
.btn-outline-primary:hover {
    background-color:rgb(255, 213, 0);
    border-color:rgb(223, 186, 0);
    color: black;
}

footer{
    font-size: larger;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #060606;
    color: rgb(223, 186, 0);
    padding: 10px 20px;
    text-align: left;
    font-size: 16px;
}